<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Torrungruang Management Web Application</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body class=" min-h-screen">
<main id="content-layout"
      class="grid grid-cols-10 bg-gray-100 overflow-hidden min-h-screen ">
    <div class="col-span-2 bg-black">
        <div th:replace="~{fragments/sidebar::sidebar}"></div>
    </div>
    <div class="col-span-8">
        <div th:replace="~{fragments/header::header}" class="mb-7"></div>
        <div layout:fragment="content" class="py-4 px-6"></div>
    </div>
</main>
<div th:replace="~{fragments/footer::footer}" class=""></div>
</body>

</html>
