<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Torrungruang</title>
  <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div layout:fragment="content" class="font-body">
  <h1 class="text-2xl text-center font-bold">Delivery (โชว์หน้าละ 5 ถ้าทำทัน)</h1>
  <div class="flex items-center justify-between mb-6 mt-6">
    <div class="join">
        <button class="btn join-item btn-error ">ยังไม่เสร็จสิ้น</button>
        <button class="btn join-item btn-success">เสร็จสิ้น</button>
    </div>
<!-- มีเวลาค่อยทำ seacrbar-->
    <span class="mr-64 flex items-center">
        <div class="pt-2 relative mx-auto text-gray-600">
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 ml-8 rounded-lg text-sm focus:outline-none"
               type="search" name="search" placeholder="มีเวลาค่อยทำ">
        </div>
        <a href="#" type="submit" class="ml-4 mr-4 mt-2 text-purple-800 hover:underline text-lg">ค้นหา</a>
    </span>

<span class="flex space-x-2 items-center">
    <div class="btn btn-success font-semi-bold">เพิ่มใบส่งของ</div>
    <!-- <div class="btn btn-error font-semi-bold">ลบใบสั่งซื้อ</div>  -->
</span>
</div>

  <table class="table-fixed divide-y divide-gray-300 overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3break-words bg-white rounded-lg">
    <thead class="bg-gray-900">
      <tr class="text-white font-semibold text-sm uppercase text-center">
        <th class="px-6 py-4"> รหัสDelivey</th>
        <th class="px-6 py-4"> รหัสPO </th>
        <th class="px-6 py-4"> รหัสSO </th>
        <th class="px-6 py-4"> รหัสลูกค้า </th>
        <th class="px-6 py-4"> ชื่อบริษัท</th>
        <th class="px-6 py-4">ราคา(use + VAT)</th>
        <th class="px-6 py-4">วันที่ส่ง</th>
        <th class="px-6 py-4"></th>
      </tr>
    </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="text-center">
            <td class="">D00024</td>
            <td class="">P00075</td>
            <td class="">S00001</td>
            <td class="px-5 py-4">C00005</td>
            <td class="px-5 py-4">หจก.สมโชค จำกัด</td>
            <td class="px-5 py-4">5,000,000</td>
            <td class="px-5 py-4 text-center">17/06/2569 </td>
            <td class="px-2 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">Detail</a> </td>
        </tr>
        
        

      </tbody>
  </table>
</div>
</body>
</html>