<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Torrungruang Management Web Application</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- <link th:rel="stylesheet" th:href=""> -->
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
  </head>
  <body>
    <div layout:fragment="content" class="py-10">
      <div class="flex mx-auto w-full md:w-5/6 lg:w-2/3">
              <div th:insert="~{modals/PO-modal::PO-modal}"></div>
          <h1 class="flex-1 text-center font-bold text-2xl">Purchase Order</h1>
      </div>

      <!-- Open the modal using ID.showModal() method -->
  
      <!-- table -->
      <table class='whitespace-normal rounded-lg bg-white divide-y divide-gray-300 overflow-y-auto mx-auto w-full md:w-5/6 lg:w-2/3'>
        <thead class="bg-gray-900">
            <tr class="text-white text-left">
                <th colspan="8" class="border-b-2 border-white py-2">สี่เหลี่ยมผืนผ้าด้านบน</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"></th>
            </tr>
            <tr class="text-white text-left">
                <th class="font-semibold text-sm uppercase px-6 py-4"> รหัสPO</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> รหัสลูกค้า </th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> ชื่อบริษัท</th>
                <th class="font-semibold text-sm uppercase px-6 py-4">ราคา(use + VAT)</th>
                <th class="font-semibold text-sm uppercase px-6 py-4">สถานะการจ่ายเงิน</th>
                <th class="font-semibold text-sm uppercase px-6 py-4">สถานะการส่งของ</th>
                <th class="font-semibold text-sm uppercase px-6 py-4">วันที่สั่ง</th>
                <th class="font-semibold text-sm uppercase px-6 py-4">กำหนดส่ง</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"></th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            <tr>
                <td class="px-6 py-4">
                    <div class="flex items-center space-x-3">
                        <div>
                            <p> P00075 </p>
                        </div>
                    </div>
                </td>
                <td class="px-6 py-4">
                    <p class=""> C0005 </p>
                </td>
                <td class="px-6 py-4">A&D FACTORY</td>
                <td class="px-6 py-4">3,000,000.25</td>
                <td class="px-6 py-4 text-center"> 
                  <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
                </td>
                <td class="px-6 py-4 text-center"> 
                  <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
                </td>
                <td class="px-6 py-4 text-center">17/06/2569 </td>
                <td class="px-6 py-4 text-center">17/08/2569 </td>
                <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
            </tr>


            <tr>
              <td class="px-6 py-4">
                  <div class="flex items-center space-x-3">
                      <div>
                          <p> P00075 </p>
                      </div>
                  </div>
              </td>
              <td class="px-6 py-4">
                  <p class=""> C0005 </p>
              </td>
              <td class="px-6 py-4">A&D FACTORY</td>
              <td class="px-6 py-4">3,000,000.25</td>
              <td class="px-6 py-4 text-center"> 
                <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
              </td>
              <td class="px-6 py-4 text-center"> 
                <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
              </td>
              <td class="px-6 py-4 text-center">17/06/2569 </td>
              <td class="px-6 py-4 text-center">17/08/2569 </td>
              <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
          </tr>



          <tr>
            <td class="px-6 py-4">
                <div class="flex items-center space-x-3">
                    <div>
                        <p> P00075 </p>
                    </div>
                </div>
            </td>
            <td class="px-6 py-4">
                <p class=""> C0005 </p>
            </td>
            <td class="px-6 py-4">A&D FACTORY</td>
            <td class="px-6 py-4">3,000,000.25</td>
            <td class="px-6 py-4 text-center"> 
              <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
            </td>
            <td class="px-6 py-4 text-center"> 
              <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
            </td>
            <td class="px-6 py-4 text-center">17/06/2569 </td>
            <td class="px-6 py-4 text-center">17/08/2569 </td>
            <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
        </tr>


        <tr>
          <td class="px-6 py-4">
              <div class="flex items-center space-x-3">
                  <div>
                      <p> P00075 </p>
                  </div>
              </div>
          </td>
          <td class="px-6 py-4">
              <p class=""> C0005 </p>
          </td>
          <td class="px-6 py-4">A&D FACTORY</td>
          <td class="px-6 py-4">3,000,000.25</td>
          <td class="px-6 py-4 text-center"> 
            <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
          </td>
          <td class="px-6 py-4 text-center"> 
            <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
          </td>
          <td class="px-6 py-4 text-center">17/06/2569 </td>
          <td class="px-6 py-4 text-center">17/08/2569 </td>
          <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
      </tr>



      <tr>
        <td class="px-6 py-4">
            <div class="flex items-center space-x-3">
                <div>
                    <p> P00075 </p>
                </div>
            </div>
        </td>
        <td class="px-6 py-4">
            <p class=""> C0005 </p>
        </td>
        <td class="px-6 py-4">A&D FACTORY</td>
        <td class="px-6 py-4">3,000,000.25</td>
        <td class="px-6 py-4 text-center"> 
          <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
        </td>
        <td class="px-6 py-4 text-center"> 
          <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
        </td>
        <td class="px-6 py-4 text-center">17/06/2569 </td>
        <td class="px-6 py-4 text-center">17/08/2569 </td>
        <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
    </tr>


    <tr>
      <td class="px-6 py-4">
          <div class="flex items-center space-x-3">
              <div>
                  <p> P00075 </p>
              </div>
          </div>
      </td>
      <td class="px-6 py-4">
          <p class=""> C0005 </p>
      </td>
      <td class="px-6 py-4">A&D FACTORY</td>
      <td class="px-6 py-4">3,000,000.25</td>
      <td class="px-6 py-4 text-center"> 
        <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
      </td>
      <td class="px-6 py-4 text-center"> 
        <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
      </td>
      <td class="px-6 py-4 text-center">17/06/2569 </td>
      <td class="px-6 py-4 text-center">17/08/2569 </td>
      <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
  </tr>
  <tr>
    <td class="px-6 py-4">
        <div class="flex items-center space-x-3">
            <div>
                <p> P00075 </p>
            </div>
        </div>
    </td>
    <td class="px-6 py-4">
        <p class=""> C0005 </p>
    </td>
    <td class="px-6 py-4">A&D FACTORY</td>
    <td class="px-6 py-4">3,000,000.25</td>
    <td class="px-6 py-4 text-center"> 
      <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
    </td>
    <td class="px-6 py-4 text-center"> 
      <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
    </td>
    <td class="px-6 py-4 text-center">17/06/2569 </td>
    <td class="px-6 py-4 text-center">17/08/2569 </td>
    <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
</tr>
<tr>
  <td class="px-6 py-4">
      <div class="flex items-center space-x-3">
          <div>
              <p> P00075 </p>
          </div>
      </div>
  </td>
  <td class="px-6 py-4">
      <p class=""> C0005 </p>
  </td>
  <td class="px-6 py-4">A&D FACTORY</td>
  <td class="px-6 py-4">3,000,000.25</td>
  <td class="px-6 py-4 text-center"> 
    <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
  </td>
  <td class="px-6 py-4 text-center"> 
    <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
  </td>
  <td class="px-6 py-4 text-center">17/06/2569 </td>
  <td class="px-6 py-4 text-center">17/08/2569 </td>
  <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
</tr>
<tr>
  <td class="px-6 py-4">
      <div class="flex items-center space-x-3">
          <div>
              <p> P00075 </p>
          </div>
      </div>
  </td>
  <td class="px-6 py-4">
      <p class=""> C0005 </p>
  </td>
  <td class="px-6 py-4">A&D FACTORY</td>
  <td class="px-6 py-4">3,000,000.25</td>
  <td class="px-6 py-4 text-center"> 
    <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> UNFinish</span> 
  </td>
  <td class="px-6 py-4 text-center"> 
    <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> UNFinish</span> 
  </td>
  <td class="px-6 py-4 text-center">17/06/2569 </td>
  <td class="px-6 py-4 text-center">17/08/2569 </td>
  <td class="px-6 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไข</a> </td>
</tr>


        </tbody>
        <div class="divider divider-horizontal hidden"></div>
      </table>

    </div>
</body>
</html>