
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Torrungruang Application</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<section class="mh-100">
    <div class="row"
          style="height: 800px"
    >
      <div
              class="col-md-9 col-lg-6 col-xl-5"
              style="background-image:url('https://scontent.fbkk22-3.fna.fbcdn.net/v/t39.30808-6/392786882_625234119814832_9051788634971925872_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF-KkrNOykdyKaVXRKJ46acsjcTWlrZI-iyNxNaWtkj6LkchbsJU4tMuc-QU1Y3Tfz7x1QVuGglvpYmodMEJc20&_nc_ohc=Y4jKfRKjBVkAX-rm7SF&_nc_ht=scontent.fbkk22-3.fna&oh=00_AfDo0DflPlrxoZYc4fb0hSO7Us4EfyMb9n8UGRLkSxO_9w&oe=653866F3');">
      </div>

      <div class="col-md-8 align-content-center col-lg-6 col-xl-4 offset-xl-1">

        <form th:action="@{/login}" method="POST">
          <div id="error-msg" th:if="${param.error}" class="alert alert-danger">
            Invalid username or password
          </div>
          <div id="logout-msg" th:if="${param.logout}" class="alert alert-success">
            You have been logged out
          </div>

          <h1 class="display-5 fw-semibold">Login</h1>

          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="inputUsername">Username</label>
            <input type="text" name="username" id="inputUsername" class="form-control form-control-lg"
                   placeholder="Enter a username" required>

          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control form-control-lg"
                   placeholder="Enter password" required>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button id="submit-button" type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                                                                              class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
</section>

</body>
</html>

