<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Torrungruang</title>
  <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div layout:fragment="content" class="font-body">
  <h1 class="text-2xl text-center font-bold">รายละเอียดข้อมูลลูกค้า</h1>
  <div class="flex items-center justify-between mb-6 mt-6">
    รหัส CUSTOMER
    ชื่อ 
    เหมือนในตารางหน้าหลัก
    <div class="btn btn-success">แก้ไขข้อมูล</div>
  </div>
  ที่อยู่ทั้งหมด
  <div class="btn btn-info">เพิ่มที่อยู่</div>
  <table class="table-fixed divide-y divide-gray-300 overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3break-words 
  bg-white rounded-lg">
    <thead class="bg-gray-900">
      <tr class="text-white font-semibold text-sm uppercase text-center">
        <th class="px-6 py-4"> รหัสที่อยู่</th>
        <th class="px-6 py-4"> รายละเอียด</th>
        <th class="px-6 py-4"></th>
      </tr>
    </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="text-center">
          <td class="px-5 py-4">A00005</td>
          <td class="px-5 py-4">208/9 ดาวอังคาร</td>
          <td class="px-5 py-4 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">แก้ไขที่อยู่</a> </td>
        </tr>
      </tbody>
  </table>
  <a th:href="@{/customer/detail/addAddress}" class="btn btn-primary">ADD ADDRESS(ชั่วคราว)</a>
</div>
</body>
</html>