<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Torrungruang</title>
  <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div layout:fragment="content" class="font-body">
  <h1 class="text-2xl text-center font-bold">เพิ่มที่อยู่ใหม่</h1>
  <div class="flex items-center justify-between mb-6 mt-6"> 
    รายละเอียดที่อยู่
</div>
</body>
</html>