<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Torrungruang</title>
  <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div layout:fragment="content" class="font-body">
  <h1 class="text-2xl text-center font-bold">Spec (โชว์หน้าละ 5 ถ้าทำทัน)</h1>
  <div class="flex items-center justify-between mb-6 mt-6">
    <div class="flex items-center">
        <h1 class="text-xl">จำนวนทั้งหมด</h1>
        <span class="text-xl ml-10">รายการ</span>
    </div>
    <!-- มีเวลาค่อยทำ seacrbar-->
    <span class="mr-24 flex items-center">
        <div class="pt-2 relative mx-auto text-gray-600">
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16  rounded-lg text-sm focus:outline-none"
                   type="search" name="search" placeholder="Search">
        </div>
        <a href="#" type="submit" class="ml-4 mt-2 text-purple-800 hover:underline text-lg">ค้นหา</a>
    </span>
    <span class="flex space-x-2 items-center">
        <div class="btn btn-success font-semi-bold">เพิ่มspecเชือก</div>
    </span>
</div>

  <table class="table-fixed divide-y divide-gray-300 overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3break-words bg-white
  rounded-lg">
    <thead class="bg-gray-900">
      <tr class="text-white font-semibold text-sm uppercase text-center">
        <th class="px-6 py-8"> รหัสSPEC</th>
        <th class="px-6 py-8"> ชื่อSPEC</th>
        <th class="px-6 py-8">ราคาต่อหน่วย</th>
        <th class="px-6 py-8"></th>
      </tr>
    </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="text-center">
          <td class="px-5 py-6">N00005</td>
          <td class="px-5 py-6">เชือกร่ม 35 มล</td>
          <td class="px-5 py-6">2.50</td>
          <td class="px-5 py-6 text-center"> <a href="#" class="text-purple-800 hover:underline font-bold">Detail</a> </td>
        </tr>      
      </tbody>
  </table>
  <a th:href="@{/spec/detail}" class="btn btn-primary">SPEC DETAIL (ชั่วคราว)</a>
</div>
</body>
</html>